.fade-amination.ng-enter {
    animation: fade_in_animation 1s linear;
    -webkit-animation: fade_in_animation 1s linear;
}

.fade-amination.ng-enter-stagger {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.fade-amination.ng-leave,
.fade-amination.ng-move {
    animation: fade_out_animation 1s linear;
    -webkit-animation: fade_out_animation 1s linear;
}

@keyframes fade_in_animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade_in_animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade_out_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fade_out_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.rotate-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}